body {
  font-family: "Roboto", sans-serif;
}

header {
  background-color: #ffffff;
}

.list {
  list-style: none;
}

.logo {
  text-decoration: none;
}

.logo-web {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.logo-studio {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
  text-decoration: none;
}

.navlist {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
}

.list-item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
}

.list-item:hover {
  color: #2196f3;
}

.list-item:focus {
  color: #2196f3;
}

.nav-site {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
}

.nav-tel {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
}

.nav-site:hover {
  color: #2196f3;
}

.nav-site:focus {
  color: #2196f3;
}

.nav-tel:hover {
  color: #2196f3;
}
.nav-tel:focus {
  color: #2196f3;
}
/*main*/

.hero {
  width: 1600px;
  height: 600px;
  left: 0px;
  top: 80px;
  background: #2f303a;
}


.hero-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}

.hero-button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}

/*our benefits section*/

.benefit-title {
font-weight: 700;
font-size: 14px;
line-height: 1.87;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #212121;
}

.benefit-text{
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: #757575;
}

/*what are we doing section*/

.what-title {
font-weight: 700;
font-size: 36px;
line-height:1.16;
text-align: center;
letter-spacing: 0.03em;

color: #212121;
}

/*our team section*/

.our-team-title {
    font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}

.team-names {
font-weight: 500;
font-size: 16px;
line-height: 1.18;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}

.team-positions {
font-weight: 400;
font-size: 16px;
line-height:1.18;
text-align: center;
letter-spacing: 0.03em;
color: #757575;
}

.team {
    background: #F5F4FA;
}

.team-card {
    background: #FFFFFF;
}

/*footer*/
.footer {
background: #2F303A;
}

.adress {
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: #FFFFFF;
}

